<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<events>
    <event name="ItemPlanks">
        <nominal>50</nominal>
        <min>40</min>
        <max>50</max>
        <lifetime>7200</lifetime>
        <restock>0</restock>
        <saferadius>250</saferadius>
        <distanceradius>20</distanceradius>
        <cleanupradius>100</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>1</active>
        <children>
            <child lootmax="0" lootmin="0" max="50" min="30" type="PileOfWoodenPlanks"/>
        </children>
    </event>
    <event name="Loot">
        <nominal>0</nominal>
        <min>0</min>
        <max>0</max>
        <lifetime>0</lifetime>
        <restock>0</restock>
        <saferadius>0</saferadius>
        <distanceradius>0</distanceradius>
        <cleanupradius>50</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="0"/>
        <position>fixed</position>
        <limit>custom</limit>
        <active>1</active>
        <children/>
    </event>
</events>
